//Variables

//Mobile
.mobileNav{
    display: flex;
    justify-content: center;
    font-size: 1.2em;
}
.nav-link{
    font-size: 1em !important;
}

.mobileNav .nav-link:hover{
    //add colour here
}


//Browser